.my-form {
  padding:1rem; 
   height: 65%;
}

/*block elements always get their own lines*/
.my-form label {
   display:block;
}

.my-form input[type="text"], input[type="email"] , .my-form textarea {
   padding:8px;
   width:100%;
}

.my-form textarea {
   margin-bottom: 10px;
}

button {
  border-radius: 5px;
  font-weight: bold;
  border:none;
  background-color: #333333;
  color:#A9D7DD;
  transition: .4s;
  padding:.3rem;
}

button:hover {
  border: .5px solid #666666;
  background-color:#0094ff;
  color:black;
}